@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Abside";
  src: local("Abside"), url(../fonts/Abside-Round1.ttf) format("truetype");
}
.abside {
  font-family: "Abside", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  color: white;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
header img {
  height: 7vh;
}
header .amarelo-newsletter {
  text-decoration: none;
  font-size: 1.2rem;
  color: #faa50a;
}
header .amarelo-newsletter:hover, header .amarelo-newsletter:link, header .amarelo-newsletter:visited, header .amarelo-newsletter:active {
  color: #faa50a;
}
header ul {
  margin: 0;
  padding: 0;
}
header ul li {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 1.2rem;
}
header ul li a,
header ul li a:link {
  color: white;
}
header ul li a:hover,
header ul li a:active {
  color: #faa50a;
}

.header-navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
}
.header-navigation-list li {
  padding-left: 3rem;
  font-size: 1.2rem;
  padding-bottom: 0;
}
.header-navigation-list li a,
.header-navigation-list li a:link {
  color: white;
}
.header-navigation-list li a:hover,
.header-navigation-list li a:active {
  color: #faa50a;
}

img {
  height: 100%;
  width: auto;
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

@supports not (aspect-ratio: 16/9) {
  iframe::before {
    float: left;
    padding-top: 56.25%;
    content: "";
  }

  iframe::after {
    display: block;
    content: "";
    clear: both;
  }
}
body,
.parede {
  background-position: center center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: 100vw auto;
}
body-clara,
body main,
.parede-clara,
.parede main {
  background-image: url("../img/parede.png");
}
body-newsletter,
.parede-newsletter {
  background-image: url("../img/parede-newsletter.png");
}
body-escura,
.parede-escura {
  background-image: url("../img/parede-escura-revista.png");
}

a {
  text-decoration: none;
}

main section {
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-content: center;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}
main section h1 {
  height: 10vh;
  width: auto;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
main section img {
  margin: auto;
}
main section p,
main section ul,
main section ol {
  margin: auto;
  max-width: 1000px;
}
main section a {
  display: flex;
  justify-content: center;
  min-width: 150px;
  max-width: 200px;
  margin: auto;
  margin-top: 1rem;
  color: white;
  padding: 0.3rem;
  border-radius: 5%;
}
main section .numeracao {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}
main section > article {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
main section > .comentarios_pad, main section .comentarios_child {
  padding: 1rem;
  padding-bottom: 0rem;
  max-width: 1000px;
  margin: auto;
}
main section .comentarios {
  border-width: 2px;
  border-color: black;
  border-bottom-style: solid;
  background-color: rgba(255, 255, 255, 0.75);
}
main section .comentarios > .comentarios_img {
  width: 30%;
  padding-right: 1rem;
}
main section .comentarios .commentarios_user {
  padding-top: 1rem;
  color: #9b2f2f;
  font-size: 1.4rem;
  padding-bottom: 0;
}
main section .comentarios .commentarios_icons {
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
}
form p {
  font-size: 1.1rem;
}
form div {
  padding-left: 15%;
  padding-right: 15%;
}
form div input {
  width: 100%;
  color: black;
  padding: 0.5rem;
  border: 1px solid rgba(31, 31, 31, 0.8);
  margin-bottom: 1.5rem;
}
form div input :focus {
  color: white;
  background-color: black;
}
form > input {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
  min-width: 150px;
  max-width: 200px;
  border-radius: 5%;
  padding: 0.3rem;
  border: none;
}
form > label {
  font-size: 1.5rem;
  margin-left: 1.5rem;
}
form > div.comment {
  padding: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
}
form > div.comment .comment_img {
  width: 30%;
}
form > div.comment .comment_form {
  width: 100%;
}
form > div.comment .comment_form div {
  text-align: left;
  padding: 0;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
form > div.comment > div {
  padding: 0;
}
form > textarea {
  margin: 1.5rem;
  margin-top: 0.5rem;
  padding: 1rem;
  resize: none;
  overflow: auto;
}

footer {
  background-color: black;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
}
footer article {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 1.5rem;
}
footer article a,
footer article span {
  color: white;
}
footer article a:link {
  color: white;
  text-decoration: none;
}
footer article a:hover,
footer article a:active {
  color: #faa50a;
  text-decoration: none;
}
footer div > a {
  padding-right: 1rem;
}

nav {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.5rem;
  width: 100vw;
}

.nav-backgroundColor-black {
  background-color: black;
}

.nav-backgroundColor-white {
  background-color: white;
}

.icon {
  max-width: 30px;
}

.revista-capa {
  width: auto;
  max-height: 350px;
  cursor: pointer;
}

.bg-transparency {
  filter: contrast(110%);
  -webkit-filter: contrast(110%);
}
.bg-transparency-red {
  background-color: rgba(155, 47, 47, 0.95);
}
.bg-transparency-black {
  background-color: rgba(0, 0, 0, 0.7);
}

.margin-bottom-pdfViewer {
  margin-bottom: 2rem;
}

.pdfViewer {
  width: 100vw;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  background-color: black;
}
.pdfViewer > div {
  display: flex;
}
.pdfViewer > div > svg,
.pdfViewer > div span {
  margin: auto;
}
.pdfViewer > div .zoomIcon {
  margin-left: 3.5rem !important;
}
.pdfViewer > div .expandIcon {
  margin-right: 3.5rem !important;
}
.pdfViewer > div > .IconsPDFBottom {
  padding: 1rem;
}
.pdfViewer > div > div {
  display: flex;
  justify-content: "center";
  align-items: "center";
  margin: auto;
}
.pdfViewer > div .react-pdf__Document {
  display: flex;
}
.pdfViewer p {
  display: inline;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
}

.MenuHamburgerList {
  background-color: black;
  list-style: none;
  position: fixed;
  bottom: 5rem;
  z-index: 10;
  margin: auto;
  width: 100%;
  padding: 0;
}
.MenuHamburgerList > li {
  border-bottom: 2px solid white;
  padding: 0.7rem;
  text-align: center;
}
.MenuHamburgerList > li > a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.MenuHamburgerList > li:last-child {
  border: none;
}

p,
ol {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}

ol {
  padding-left: 3.5rem;
}

li {
  padding-bottom: 1rem;
}

button {
  margin: auto;
  margin-top: 1rem;
  border-radius: 7%;
}

.button, button {
  border: none;
  background-color: black;
  color: white;
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
}

.button:hover, button {
  color: #faa50a;
}

.comentarios-responder {
  color: black;
  margin: 0;
  text-align: right;
  font-size: 1rem;
}

.font-weight-bold {
  font-weight: bolder;
}

.font-style-italic {
  font-style: italic;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pe-1 {
  padding-right: 1rem;
}

.pl-3 {
  padding-left: 3rem;
}

.text-right {
  text-align: right;
}

.font-size-1-5 {
  font-size: 1.5rem;
}

.m-0 {
  margin: 0;
}

.m-auto {
  margin: auto;
}

.mb-2 {
  margin-bottom: 2rem;
}

.text-center {
  text-align: center !important;
}
.text-center > a {
  display: inline;
  color: black;
}

.text-black {
  color: black;
}

.text-download {
  border: none;
  background-color: black;
  color: white;
  padding: 1rem;
  width: 100%;
  max-width: 20rem;
  line-height: 3rem;
}

.text-download:hover {
  color: #faa50a;
}

.checkbox {
  display: flex;
  margin: auto;
  padding: 0;
}
.checkbox input {
  flex: 0%;
  text-align: right;
  height: 1.1rem;
}
.checkbox label {
  width: 17rem;
  flex: 75%;
  font-size: 1.1rem;
}

.button {
  border: none;
  background-color: black;
  color: white;
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
}

.auth-input-white {
  color: white;
}

.registate-btn {
  color: white !important;
  padding: 0.5rem;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.auth-input-yellow {
  color: #faa50a;
}

.min-page-height {
  padding-top: 1rem;
  min-height: 70vh;
  vertical-align: baseline;
  padding-bottom: 17vh;
}

.recomendacoes .Collapsible__contentInner {
  padding-top: 1rem;
}
.recomendacoes p {
  color: black;
  text-align: left;
}
.recomendacoes a {
  margin: auto;
}
.recomendacoes ol {
  color: black;
  text-align: left;
}

.Collapsible {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.Collapsible > div {
  background-color: white;
}
.Collapsible > div a {
  font-size: 1.2rem;
  color: #9b2f2f;
  padding: 1rem;
  display: block;
}
.Collapsible .Collapsible__contentOuter {
  transition: none;
}

.Collapsible__trigger {
  cursor: pointer;
}

.react-pdf__Page.prevPage {
  position: absolute !important;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

.listagem-revistas-item {
  padding-top: 1.5rem;
}

.votes {
  font-size: 1.5rem;
}

.mais-comentarios {
  display: flex;
  margin: auto;
  margin-top: 1rem;
  width: auto;
}

.vote-cursor {
  cursor: pointer;
}

.color-danger {
  color: red;
}

@media (max-width: 600px) {
  .react-pdf__Document {
    display: flex;
    max-width: 100vw !important;
    min-height: 40vh;
  }

  .react-pdf__Page__textContent {
    display: none;
  }

  .pdfV {
    width: 100vw;
  }

  .pdf-canva-normal .react-pdf__Page__canvas {
    width: auto !important;
    height: 85vh !important;
  }

  .pdf-canva-ampliado .react-pdf__Page__canvas {
    width: auto !important;
    height: auto !important;
  }

  .pdf-canva-fullscreen-normal .react-pdf__Page__canvas {
    width: auto !important;
    height: auto !important;
  }

  .pdf-canva-fullscreen-ampliado .react-pdf__Page__canvas {
    width: auto !important;
    height: auto !important;
  }
}
@media (max-width: 767px) {
  .comentarios_pad {
    padding-right: 0;
    padding-left: 0;
  }

  .login-page {
    padding-top: 15vh;
    min-height: 75.5vh;
  }

  .signup-page {
    padding-top: 10vh;
  }

  .revistas-page {
    padding-top: 5vh;
  }

  p {
    font-size: 1rem;
  }

  iframe {
    width: 100%;
  }

  .react-pdf__Document {
    display: flex;
    min-height: 70vh;
  }

  .pdf-canva-normal .react-pdf__Page__canvas {
    width: auto !important;
    height: 65vh !important;
  }

  .pdf-canva-ampliado .react-pdf__Page__canvas {
    width: auto !important;
    height: 70vh !important;
  }

  .pdf-canva-fullscreen-normal .react-pdf__Page__canvas {
    width: auto !important;
    height: 85vh !important;
  }

  .pdf-canva-fullscreen-ampliado .react-pdf__Page__canvas {
    width: auto !important;
    height: 90vh !important;
  }

  .img-recomendacoes {
    max-height: 400px;
    width: auto;
    max-width: 90vw;
  }
}
@media (min-width: 700px) {
  .pdfV {
    display: flex;
  }
}
@media (min-width: 768px) {
  .login-page {
    padding-top: 16.5vh;
    min-height: 80vh;
  }

  .signup-page {
    padding-top: 12.5vh;
    min-height: 80vh;
  }

  .revistas-page {
    padding-top: 12vh;
  }

  iframe {
    max-height: 92vh;
  }

  .react-pdf__Document {
    display: flex;
    min-height: 90vh;
  }

  .pdf-canva-normal .react-pdf__Page__canvas {
    width: auto !important;
    height: 70vh !important;
  }

  .pdf-canva-ampliado .react-pdf__Page__canvas {
    width: auto !important;
    height: 75vh !important;
  }

  .pdf-canva-fullscreen-normal .react-pdf__Page__canvas {
    width: auto !important;
    height: 85vh !important;
  }

  .pdf-canva-fullscreen-ampliado .react-pdf__Page__canvas {
    width: auto !important;
    height: 90vh !important;
  }

  .img-recomendacoes {
    max-height: 400px;
    width: auto;
    max-width: 90vw;
  }
}
@media (min-width: 1130px) {
  footer {
    padding-bottom: 1rem;
  }

  .revistas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .listagem-revistas-item {
    flex: 25%;
  }

  .parede-escura {
    background-image: url("../img/parede.png");
  }
}
@media (min-width: 1200px) {
  .img-recomendacoes {
    max-height: 400px;
    width: auto;
    max-width: 60vw;
  }
}
